.footer {
  text-align: center;
  padding: 30px;
  background-color: #cacaca;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: white;
  margin: 0 0 0 0;
}

.footer .fas {
  color: white;
}

.footer i {
  font-color: white;
}
