.footer {
  text-align: center;
  padding: 60px;
  background-color: #cacaca;
}

.footer a {
  font-size: 30px;
  color:  #F07530;
}

.footer p {
  color: white;
}

.footer .fas {
  color: white;
}

.footer i {
  font-color: white;
}
