<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<div class="container">

<h1>Create a new booking</h1>

  <%= simple_form_for([@alpaca, @booking]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">

        <div class="form-actions" class="btn btn-primary">
          <%= f.submit "Create new booking" %>
        </div>

    </div>
  <% end %>
</div>
