<h1> Change your life, rent an alpaca today</h1>


<%= link_to "Create an account", new_user_registration_path, class: "btn btn-primary"  %>
<%= link_to "Go through alpacas", alpacas_path, class: "btn btn-primary" %>
