.card img {
  width: 150px;
}

.card {
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  background-color: #F4F4F4 !important;
  border: none;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 16px;
}

