.cards {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-gap: 16px;
  // align-items: left;
  margin-right: 15px;
}

.alpaca-card {
  background-color: white;
  height: 210px;
  width: 600px;
  margin-bottom: 20px;
  justify-content: space-between;
  img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
  }
}

.alpaca-amount {
  padding: 20px 0;
  align-items: flex-start;
}

.text-left {
  line-height: 17px;
  align-items: flex-start;
  color: black;
  width: 320px;
  p {
  color: black;
  }
  span {
  color: black;
  align-items: flex-end;
  }
  .orange {
    color: #F8772B !important;
  }
}

.pricetag {
  padding-top: 152px;
  padding-left: 60px;
  align-items: flex-end;
  a {
    color: #F8772B !important;
  }
}
