#amount-days {
  width: 63px;
  text-align: right;
}

#orange-2 {
  font-size: 35px;
  color: #ffa310;
}

#overview {
  font-size: 30px;
}

#alignment {
  margin-left: 297px;
}

#description-2 {
  width: 491px;
}

#inner-card {
  border: solid 0.2px #dad1d1;
  margin: 0 42px 20px;
  margin-bottom: 20px;
  box-shadow: 5px 7px 5px -5px #a09ea0;
}

.alpaca-image img {
  width: 172px;
}

#booking-status {
  color: #57d857;
  font-weight: bold;
}

#requested-status {
  color: red;
  font-weight: bold;
}

.dash-board-p {
  font-size: 26px;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 34px;
}

#alpaca-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4F6D7A !important;
  text-align: left;
}

#alpaca-name-2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4F6D7A;
  text-align: left;
}

#left-align {
  text-align: left;
}

#special-container {
  width: 800px;
  margin-left: 317px;
}

#cds {
  box-shadow: 8px 8px 5px -5px rgba(158,150,158,1);
  margin-top: 40px;
  margin-bottom: 40px;
}

#s a {
  color: orange;
  padding: 3px;
  margin-left: 20px;
}

#container-book {
  width: 683px;
  margin: 20px auto;
  margin-top: 0;
}
