#amount-days {
  width: 63px;
  text-align: right;
}

#orange-2 {
  font-size: 35px;
  color: #ffa310;
}

#overview {
  font-size: 30px;
}

#alignment {
  margin-left: 297px;
}

#description-2 {
  width: 491px;
}

#inner-card {
  border: solid 0.1px #dad1d1;
  margin: 0 42px 20px;
  margin-bottom: 20px;
    p {
      line-height: 1.2;
    }
    &:hover {
      box-shadow: 2px 3px 11px 2px rgba(0,0,0,0.2);
      border: none;
    }
}


#booking-status {
  color: #57d857;
  font-weight: bold;
  text-align: right;
  margin-left: 57px;
}

#listed-status {
  color: #57d857;
  font-weight: bold;
  margin-left: 102px;
}

#requested-status {
  color: red;
  font-weight: bold;
}

.dash-board h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 34px;
}

#alpaca-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4F6D7A !important;
  text-align: left;
}

#alpaca-name-2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4F6D7A;
  text-align: left;
}

#left-align {
  text-align: left;
  margin-left: 28px;

}

#special-container {
  width: 800px;
  margin-left: auto;
}

#cds {
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#s a {
  color: #F8772B;
  padding-right: 3px;
}

#container-book {
  width: 683px;
  margin: 20px auto;
  margin-top: 0;
}
.img-thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
}
